@layer setup {
    @tailwind base;

    h1 {
        @apply text-2xl font-bold;
    }

    section {
        @apply rounded-lg bg-slate-600 p-4;
    }

    button {
        @apply rounded-full bg-slate-500 px-4 py-2 text-sm font-medium text-white hover:bg-slate-600 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white/50 active:text-slate-300;
    }

    .btn-primary {
        @apply rounded-full bg-blue-300 px-4 py-2 text-sm font-semibold text-slate-900 hover:bg-blue-200 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-300/50 active:bg-blue-500;
    }

    .custom-scrollbar {
        --scrollbar-color-thumb: theme('colors.slate.100/0.3');
        /* --scrollbar-color-track: transparent; */
        --scrollbar-color-track: theme('colors.slate.100/0.1');
        --scrollbar-width: thin;
        --scrollbar-width-legacy: 6px;
        --scrollbar-radius: calc(var(--scrollbar-width-legacy) / 2);
    }

    /* Modern browsers with `scrollbar-*` support */
    /* @supports not selector(::-webkit-scrollbar) and (scrollbar-width: auto) { */
    @supports (scrollbar-width: auto) {
        .custom-scrollbar {
            /* clip-path: inset(0% 100% 0% 100% round 1rem); */
            scrollbar-gutter: stable;
            scrollbar-color: var(--scrollbar-color-thumb)
                var(--scrollbar-color-track);
            scrollbar-width: var(--scrollbar-width);
        }
    }

    /* Legacy browsers with `::-webkit-scrollbar-*` support */
    @supports selector(::-webkit-scrollbar) {
        .custom-scrollbar {
            scrollbar-gutter: stable;
            overflow: scroll;
        }

        .custom-scrollbar::-webkit-scrollbar-thumb {
            background: var(--scrollbar-color-thumb);
            border-radius: var(--scrollbar-radius);
        }
        .custom-scrollbar::-webkit-scrollbar-track {
            background: var(--scrollbar-color-track);
            border-radius: var(--scrollbar-radius);
        }
        .custom-scrollbar::-webkit-scrollbar {
            max-width: var(--scrollbar-width-legacy);
            max-height: var(--scrollbar-width-legacy);
            margin: 1rem;
            border-radius: var(--scrollbar-radius);
        }
    }

    /* :where(html) {
    scrollbar-color: red blue;
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    @apply bg-slate-100;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    background-color: #94a3b8e6;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-track-piece {
  } */
}

@tailwind components;

@layer app {
    @layer components {
    }
}

@layer utils {
    @tailwind utilities;

    @layer utilities {
    }
}
